body {
  background-color: #f2f1ed;
  font-family: Georgia, serif;

}

nav {
  font-family: "Patua One", cursive;
}

ol {
  list-style-type: none;
}

a {
  color: #793284;
  text-decoration: none;
}

a:hover {
  color: #b42885;
}

img {
  width: 100%;
}

h2 {
  color: #5d8432;
  text-transform: uppercase;
  font-family: "Patua One", cursive;
}

figcaption {
  font-size: 75%;
  font-style: italic;
  text-align: center;
}
