html {
  background-color: #f2f1ed;
  font-family: Georgia, serif;

}

a {
  color: #793284;
}

a:hover {
  color: #b42885;
}

img {
  width: 100%;
}

h2 {
  color: #5d8432;
  text-transform: uppercase;
}

figcaption {
  font-size: 90%;
  font-style: italic;
  text-align: center;
}
